{% extends 'shop/base/base.html' %}
{% load static %}

{% block "main" %}
    <!-- ##### Welcome Area Start ##### -->
    <section class="welcome_area bg-img background-overlay" style="background-image: url({% static 'shop/img/bg-img/bg-1.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="hero-content">
                        <h6>asoss</h6>
                        <h2>New Collection</h2>
                        <a href="#" class="btn essence-btn">view collection</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Welcome Area End ##### -->

    <!-- ##### Top Catagory Area Start ##### -->
    <div class="top_catagory_area section-padding-80 clearfix">
        <div class="container">
            <div class="row justify-content-center">
                {% for category in categories|slice:"0:3" %}
                    <!-- Single Catagory -->
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url({{ category.image.url }});">
                            <div class="catagory-content">
                                <a href="#">{{ category.name }}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- ##### Top Catagory Area End ##### -->

    <!-- ##### CTA Area Start ##### -->
    <div class="cta-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="cta-content bg-img background-overlay" style="background-image: url({% static 'shop/img/bg-img/bg-4.jpg' %});">
                        <div class="h-100 d-flex align-items-center justify-content-end">
                            <div class="cta--text">
                                <h6>-60%</h6>
                                <h2>Global Sale</h2>
                                <a href="#" class="btn essence-btn">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### CTA Area End ##### -->

    <!-- ##### New Arrivals Area Start ##### -->
    <section class="new_arrivals_area section-padding-80 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2>{{ request.context }}</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="popular-products-slides owl-carousel">
                        {% for product in products %}
                            <!-- Single Product -->
                            <div class="single-product-wrapper">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <img src="{{ product.first_photo.url }}" alt="">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="{{ product.second_photo.url }}" alt="">
                                    <!-- Product Badge -->
                                    {% if product.is_promotion %}
                                        <div class="product-badge offer-badge">
                                            <span>-{{ product.get_price_promotion.reduction }}{{ product.get_price_promotion.symbole }}</span>
                                        </div>
                                    {% endif %}
                                </div>
                                <!-- Favourite -->
                                    <div 
                                        hx-trigger="click"
                                        hx-post="{% url 'shop_favourite' product.pk %}"
                                        hx-swap="none"
                                        class="product-favourite">
                                        {% if product in user.like.all %}
                                            <a href="#" class="favme fa fa-heart active"></a>
                                        {% else %}
                                            <a href="#" class="favme fa fa-heart"></a>
                                        {% endif %}
                                    </div>
                                <!-- Product Description -->
                                <div class="product-description">
                                    <span>{{ product.brand }}</span>
                                    <a href="single-product-details.html">
                                        <h6 id="ppp">{{ product.name }}</h6>
                                    </a>
                                     <!-- Price product -->
                                    <p class="product-price">
                                        {% if product.is_promotion %}
                                            <span class="old-price">{{ product.price }} XOF</span>
                                            {{ product.get_price_promotion.price_promotion }} XOF
                                        {% else %}
                                            {{ product.price }} XOF
                                        {% endif %}      
                                    </p>
                                    <!-- Hover Content -->
                                    <div class="hover-content">
                                        <!-- Add to Cart -->
                                        <form method="post" class="btn essence-btn">
                                            {% csrf_token %}
                                            <div class="add-to-cart-btn"
                                                hx-post="{% url 'shop_add_product_cart' product.pk %}"
                                                hx-target=".cart-list"
                                                hx-swap="innerHTML"
                                                hx-trigger="click">
                                                <a href="#" >
                                                    Ajouter au parnier
                                                </a> 
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### New Arrivals Area End ##### -->

    <!-- ##### Brands Area Start ##### -->
    <div class="brands-area d-flex align-items-center justify-content-between">
        {% for brand in brands %}
            <!-- Brand Logo -->
            <div class="single-brands-logo">
                <img src=" {{ brand.image.url }}" alt="">
            </div>
        {% endfor %}
    </div>
    <!-- ##### Brands Area End ##### -->
{% endblock "main" %}


   