{% extends 'shop/base/base.html' %}
{% load static %}

{% block "main" %}

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb_area bg-img" style="background-image: url({% static 'shop/img/bg-img/breadcumb.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h2>dresses</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Shop Grid Area Start ##### -->
    <section class="shop_grid_area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="shop_sidebar_area">

                        <!-- ##### Single Widget ##### -->
                        <div class="widget catagory mb-50">
                            <!-- Widget Title -->
                            <h6 class="widget-title mb-30">Catagories</h6>

                            <!--  Catagories  -->
                            <div class="catagories-menu">
                                <ul id="menu-content2" class="menu-content collapse show">
                                    {% for category in categories %}
                                        <!-- Single Item -->

                                        <li data-toggle="collapse" data-target="#{{category.name}}">
                                            <a href="#">{{ category.name }}</a>

                                            <ul class="sub-menu collapse show" id="{{category.name}}">
                                                    <li>
                                                        <a href="{% url 'shop_list_product' category_pk=category.pk sub_category_pk=0 %}">
                                                            toute
                                                        </a>
                                                    </li>
                                                
                                                {% for sub_category in category.sub_category.all %}
                                                    {% if sub_category.product_sub_category.exists and sub_category.active %}
                                                        <li>
                                                            <a href="{% url 'shop_list_product' category_pk=category.pk sub_category_pk=sub_category.pk %}">
                                                                {{ sub_category.name }}
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>

                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8 col-lg-9">
                    <div class="shop_grid_product_area">
                        <div class="row">
                            <div class="col-12">
                                <div class="product-topbar d-flex align-items-center justify-content-between">
                                    <!-- Total Products -->
                                    <div class="total-products">
                                        <p><span>{{ page_obj.object_list|length }}</span> products found</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            {% for instance in page_obj %}
                                <!-- Single Product -->
                                <div class="col-12 col-sm-6 col-lg-4">
                                    <div class="single-product-wrapper">
                                        <!-- Product Image -->
                                        <div class="product-img">
                                            <img src="{{ instance.first_photo.url }}" alt="">
                                            <!-- Hover Thumb -->
                                            <img class="hover-img" src="{{ instance.second_photo.url }}" alt="">
                                            <!-- Product Badge -->
                                            {% if instance.is_promotion %}
                                                <div class="product-badge offer-badge">
                                                    <span>-{{ instance.get_price_promotion.reduction }}{{ instance.get_price_promotion.symbole }}</span>
                                                </div>
                                            {% endif %}
                                            <!-- Favourite -->
                                            {% if user.is_authenticated %}
                                                <div 
                                                    hx-trigger="click"
                                                    hx-post="{% url 'shop_favourite' instance.pk %}"
                                                    hx-swap="none"
                                                    class="product-favourite">
                                                    {% if instance in user.likes.all %}
                                                        <a href="#" class="favme fa fa-heart active"></a>
                                                    {% else %}
                                                        <a href="#" class="favme fa fa-heart"></a>
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <!-- Product Description -->
                                        <div class="product-description">
                                            <span>{{ instance.brand }}</span>
                                            <a href="{% url 'shop_detail_product' instance.slug %}">
                                                <h6 id="ppp">{{ instance.name }}</h6>
                                            </a>
                                             <!-- Price product -->
                                            <p class="product-price">
                                                {% if instance.is_promotion %}
                                                    <span class="old-price">{{ instance.price }} XOF</span>
                                                    {{ instance.get_price_promotion.price_promotion }} XOF
                                                {% else %}
                                                    {{ instance.price }} XOF
                                                {% endif %}      
                                            </p>
                                            <!-- Hover Content -->
                                            <div class="hover-content">
                                                <!-- Add to Cart -->
                                                <form method="post" class="btn essence-btn">
                                                    {% csrf_token %}
                                                    <div class="add-to-cart-btn"
                                                        hx-post="{% url 'shop_add_product_cart' instance.pk %}"
                                                        hx-target=".cart-list"
                                                        hx-swap="innerHTML"
                                                        hx-trigger="click">
                                                        <a href="#" >
                                                            Ajouter au parnier
                                                        </a> 
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% empty %}
                                <h2>Aucun Produit trouvé<h2>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Pagination -->
                    <nav aria-label="navigation">
                        <ul class="pagination mt-50 mb-70">
                            {% if page_obj.has_previous %}
                                <!-- Première page  -->
                                <li class="page-item">
                                    <a class="page-link" href="?page=1">
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                            
                                <!-- Page précedentes -->    
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                                        {{ page_obj.previous_page_number }}
                                    </a>
                                </li>
                            {% endif %}
                            
                            {% if page_obj.has_next %}
                                <!-- Page suivantes -->
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                        {{ page_obj.next_page_number }}
                                    </a>
                                </li>

                                <!-- Derniere pages -->
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </li>
                            {% endif %} 
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Shop Grid Area End ##### -->

{% endblock "main" %}
