{% extends 'shop/base/base.html' %}
{% load static %}

{% block "main" %}

    <!-- ##### Single Product Details Area Start ##### -->
    <section class="single_product_details_area d-flex align-items-center">

        <!-- Single Product Thumb -->
        <div class="single_product_thumb clearfix">
            <div class="product_thumbnail_slides owl-carousel">
                <img src=" {% static 'shop/img/product-img/product-big-1.jpg' %}" alt="">
                <img src=" {% static 'shop/img/product-img/product-big-2.jpg' %}" alt="">
                <img src=" {% static 'shop/img/product-img/product-big-3.jpg' %}" alt="">
            </div>
        </div>

        <!-- Single Product Description -->
        <div class="single_product_desc clearfix">
            <span>{{ product.brand }}</span>
            <a href="{% url 'shop_index' %}">
                <h2>{{ product.name }}</h2>
            </a>
            <!-- Price -->
            <p class="product-price">
                {% if product.is_promotion %}
                    <span class="old-price">{{ product.price }} XOF</span>
                    {{ product.get_price_promotion.price_promotion }} XOF
                {% else %}
                    {{ product.price }} XOF
                {% endif %}      
            </p>
            <p class="product-desc">{{ product.description }}</p>

            <!-- Form -->
            <form class="cart-form clearfix" method="post">
                <!-- Select Box -->
                <div class="select-box d-flex mt-50 mb-30">
                    <select name="size" id="productSize" class="mr-5">
                        {% for size in product.size.all %}
                            <option value="{{ size.pk }}">Size: {{ size.name }}</option>
                        {% endfor %}
                    </select>
                    <select name="color" id="productColor">
                        {% for color in product.color.all %}
                            <option value="{{ color.pk }}">Color: {{ color.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- Cart & Favourite Box -->
                <div class="cart-fav-box d-flex align-items-center">
                    <!-- Cart -->
                    {% csrf_token %}
                    <button 
                        type="Submit" 
                        name="addtocart" 
                        value="5" 
                        class="btn essence-btn"
                        hx-post="{% url 'shop_add_product_cart' product.pk %}"
                        hx-target=".cart-list"
                        hx-swap="innerHTML"
                        hx-trigger="click">
                        Add to cart
                    </button>
                    <!-- Favourite -->
                    <div 
                        class="product-favourite ml-4"
                        hx-trigger="click"
                        hx-post="{% url 'shop_favourite' product.pk %}"
                        hx-swap="none">
                        {% if product in user.likes.all %}
                            <a href="#" class="favme fa fa-heart active"></a>
                        {% else %}
                            <a href="#" class="favme fa fa-heart"></a>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- ##### Single Product Details Area End ##### -->
    
{% endblock "main" %}
